Adafruit-GPIO==1.0.3
Adafruit-PureIO==0.2.3
Adafruit-WS2801==1.0.1
certifi==2019.6.16
chardet==3.0.4
enum==0.4.7
idna==2.8
pkg-resources==0.0.0
requests==2.22.0
RPi.GPIO==0.7.0
spidev==3.4
urllib3==1.25.3
